/***************************************
General
***************************************/

p{
  font-size: 1.2em;
}


/***************************************
navigation
****************************************/

  .top-bar h4, .top-bar a{
    color: #0DE1FF;
    font-weight: bold;
    font-family:'Russo One', sans-serif;

  }
.top-bar li{

}
.top-bar ul{
background-color: transparent;
border-style: none;
}
.top-bar{
  background-color: #3d05f1;
}



/***************************************
header
****************************************/
.orbit{
  border-color: #FFEF8C;
}
.orbit h3{
  width: 80%;
  margin: auto;
  padding: 4em;
}

.orbit img{
  max-height: 22em;
}



/***********************************
main
************************************/
.main{
  padding: 3em 0;
  background-color: white;
}

.row{
  width: 100%;
margin: auto;

}
.columns{
  padding: 1em 2em;
}
.indent{
  padding:20px 40px 30px 20px;
}
.indent2{
  padding-left: 0;
}
/***********************************
footer
************************************/
.footer{
text-align: center;
color: white;
background-color: #29506D;
}
.footer h3{
  color: red;

}
.footer a{
  color: white;
}
.footer img{
height: 10em;
width: 10em
}
